<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- YOU HAVE TO MENTION WHAT CLASS OF INTERFACE YOU WANT TO USE!
    IN THIS CASE, IT IS EITHER CAR OR BUS CLASS !!
    [IT IS NOT ANNOTATION CONFIGURATION!!]
    WE USED <bean> TAG TO FIND EXACT CLASS! -->

    <bean id="vehicle" class="lt.boreisa.model.pojo.Bus"></bean>

    <bean id="tyre" class="lt.boreisa.model.pojo.Tyre">
        <property name="brand" value="Michelin"> </property>
    </bean>


</beans>